body {
    padding: 0;
    margin: 0;
    font-family:Georgia;
    display: flex;
    justify-content: center;
  }
  #bmi {
    max-width: 100%;
    width: 900px;
    position: relative;
    height: 500px;
    margin-top: 30px;
    margin-bottom: 30px;
    flex-direction: column;
    align-items: center;
    padding:50px;
    box-shadow: 0px 0px 20px 10px #e3e3e3;
    background: #fafafa;
    border-radius:38px;
  }

  .title {
    display: flex;
    justify-content: center;
    font-weight: bold;
  }

  .mb-10px {
    margin-bottom: 10px;
  }

  .mb-20px {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .mb-50px p {
    font-family: 'Microsoft Himalaya';
    font-size: 30px;
  }
  .mb-50px span {
    font-family:Arial;
    font-size: 30px;
    font-weight: bold;
    color:#6558f5;
    display: flex;
    justify-content: center;
  }

  #bmi .wrapper .wrapper-input .wp-box {
    padding: 20px 0;
    padding-top: 0;
    display: flex;
    flex-direction: column;
  }

  #bmi .wrapper .wrapper-input .wp-box label {
    margin-bottom: 10px;
  }

  #bmi .wrapper .wrapper-input .wp-box input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #c5ced6;
  }

  button {
    padding: 15px 25px 15px 25px;
    background-color: #6558f5;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    color: white;
    font-size: normal;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  .button1 {
    background-color: #6558f5;
    color: white;
  }

  .button1:hover {
    background-color: #2e1cce;
    color: white;
  }

  #result {
    padding-top:10px;
  }